
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

<a href="@Url.Action("work1" , "demo")"> work1</a>
<a href="@Url.Action("work2" , "demo")"> work2</a>
<a href="@Url.Action("work3" , "demo")"> work3</a>
<a href="@Url.Action("Logout" , "home")"> desconectar</a>

